*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
}

div{
    width: 250px;
    height: 250px;
    
    /* border-radius: 50%; */
    background-color: red;
    transition-property: background-color,border-radius,transform;
    
    transform: scale(1);
    transition-duration: 1s;
    transition-timing-function: ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transform-origin: right bottom;
}

div:hover{
    
    background-color: green;
    /* border-radius: 20px; */
    transform: scale(2);
    
}